.grade_table {
}

table .grade_table_header {
	font-family: Lato;
  	font-size: 16px;
  	color: #fff;
  	background-color: green;
}

.grade_table_body{
	font-size: 14px;
	border-bottom: 1px solid #D4D3D2;
	background-color: #fff;
}

.grade_table tr td{
	border-bottom: 1px solid black;
}

.column1{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.column2{
	padding-left: 10px;
	padding-right: 20px;
}

.column3{
	padding-left: 20px;
	padding-right: 60px;
}

table .dogry_yalnysh td{
	padding: 1px 3px 1px 3px;
	text-align: center;
	border-bottom-style: none;
}

.test_result{
	margin: 4px;
}

.table_restrictions {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 10px 10px #ccc;         
}
 
.table_restrictions tr:hover {
    background: #F8F9F9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
 
.table_restrictions td, .table_restrictions th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}
 
.table_restrictions th {
    background-color: #7DCA2D;
    color: #fff;
    border-top: none;
}
 
.table_restrictions td:first-child, .table_restrictions th:first-child {
    border-left: none;
}
 
.table_restrictions th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
 
.table_restrictions th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
 
.table_restrictions th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
 
.table_restrictions tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
 
.table_restrictions tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.table_tutoring {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
}

.table_tutoring th {
	background: #36FC0F;
	color: white;
	padding: 10px 10px;
}
.table_tutoring th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}
.table_tutoring th:first-child, td:first-child {
	text-align: left;
}
.table_tutoring th:first-child {
	border-top-left-radius: 10px;
}
.table_tutoring th:last-child {
	border-right: none;
}
.table_tutoring td {
	padding: 10px 10px;
	background: #F8E391;
}
.table_tutoring tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
.table_tutoring tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
.table_tutoring tr td:last-child {
	border-right: none;
}

.tutoring_rotate {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	max-height: 165px;
	text-align: center;	
}

.table_zhurnal {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
}

.table_zhurnal th {
	background: #36FC0F;
	color: white;
	padding: 10px 10px;
}
.table_zhurnal th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}
.table_zhurnal th:first-child, td:first-child {
	text-align: left;
}
.table_zhurnal th:first-child {
	border-top-left-radius: 10px;
}
.table_zhurnal th:last-child {
	border-right: none;
}
.table_zhurnal td {
	padding: 10px 10px;
	background: #CCD1D1;
}
.table_zhurnal tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
.table_zhurnal tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
.table_zhurnal tr td:last-child {
	border-right: none;
}

.zhurnal_rotate {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	max-height: 165px;
	text-align: center;	
}

.setting_test_table {
	width: 100%;
	font-size: 16px;
}

.setting_test_table th{
	border-bottom: 1px solid #37B5A5;
	padding: 5px;
}

.setting_test_table td{
	border-bottom: 1px solid #37B5A5;
	padding: 5px;
}

.setting_test_table tr td:last-child{
	padding-left: 40px;
	cursor: pointer;
}

.jogap_achar_selektor{
	float: left;
	padding: 10px;
}

.top_table {
	background-color: #CCD1D1;
	font-size: 20px;
	width: 135px;
	padding: 5px;
	text-align: center;
}