.grade_table {
	
}

.grade_table_header {
	font-family: Lato;
  	font-size: 18px;
  	color: #fff;
  	background-color: green;
}

.grade_table_body{
	font-size: 14px;
	border-bottom: 1px solid #D4D3D2;
	background-color: #fff;
}

.grade_table tr:nth-child(even){
	background-color: #E5E4E4;
}

.column1{
	padding-left: 40px;
	padding-right: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.column2{
	padding-left: 20px;
	padding-right: 60px;
}

.column3{
	padding-left: 20px;
	padding-right: 60px;
}

.test_result {
	background-color: red;
}